@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Gilroy, Helvetica, Arial, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: 200%;
  /* 20px */
}

body {
  font-family: Gilroy, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #070707;
  background-color: #fff;
  position: relative;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
}

[class*=__container] {
  max-width: 124.3rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.title {
  font-family: Gilroy, Helvetica, Arial, sans-serif;
  font-size: 3.4rem;
  color: #070707;
  line-height: 1.4;
  font-weight: 700;
}

.btn {
  padding: 1rem 3rem;
  color: #fff;
  background-color: green;
  font-size: 2rem;
  font-family: serif;
}

.header {
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__border {
  border-bottom: 2px solid #828282;
}

.menu__item {
  white-space: nowrap;
  font-weight: 700;
}

.menu__link {
  color: #070707;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home__container {
  padding: 4rem 5rem 10.4rem;
}

.home__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 5rem;
}

.home__title {
  font-size: 47.3392px;
  line-height: 59px;
}

.home__background {
  height: 38.7rem;
  width: 100%;
  background: url("../images/BSPP2266.png");
  background-position: center;
  background-size: 100%;
}

.lang-switch {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 20px;
  padding-top: 4rem;
}

.lang-switch-ru {
  padding-right: 0.6rem;
}

.lang-switch-eng {
  padding-left: 0.6rem;
}

.about {
  background-color: #F6F6F6;
}

.about__container {
  text-align: center;
  padding: 12rem 5rem 10.7rem;
}

.about__title {
  font-size: 3.4rem;
  line-height: 42px;
}

.about__info {
  padding: 3rem 0 4rem;
}

.about__study {
  padding-bottom: 4rem;
}

.skills__container {
  text-align: center;
  padding: 9rem 5rem 11rem;
}

.skills__title {
  padding-bottom: 6.9rem;
}

.skills__subtitle {
  padding-bottom: 8.3rem;
}

.skills__grid-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.name__item {
  padding: 2.4rem 0 4rem;
}

.figma-four-stars {
  padding-top: 2.5rem;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/* Desktop */

/* Laptop L   1440px */

/*            1200px */

/* Laptop *   1024px */

/* Tablet *   768px */

/*            575px */

/* Mobile L   425px */

/* Mobile M   375px */

/* Mobile S   320px */

/* width/1920 * 62.5  for adaptive */

@media all and (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}

@media all and (max-width: 1600px) {
  html {
    font-size: 62.0833333333%;
  }
}

@media all and (max-width: 1440px) {
  html {
    font-size: 58.875%;
  }
}

@media all and (max-width: 1200px) {
  html {
    font-size: 56.0625%;
  }
}

@media all and (max-width: 1024px) {
  html {
    font-size: 50.3333333%;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 46%;
  }
}

@media all and (max-width: 575px) {
  html {
    font-size: 40.7174479%;
  }
}

@media all and (max-width: 425px) {
  html {
    font-size: 36.7174479%;
  }
}

@media all and (max-width: 375px) {
  html {
    font-size: 30.7174479%;
  }
}

@media all and (max-width: 320px) {
  html {
    font-size: 25, 41666666666667%;
  }
}